<div class="header">
    <div class="header-logo">
        <p><a [routerLink]="['/']">PRMNG</a></p>
    </div>
    <div class="header-list">
        <ul>
            <li><a href="newrelease.html">ニューリリース</a></li>
            <li><a href="recruit.html">採用情報</a></li>
            <li><a [routerLink]="['/updates']">アップデート情報</a></li>
        </ul>
    </div>
    <div class="menu-drop">
        <ul class="menu">
            <li>▼メニュー
                <ul>
                    <li><a href="login.html">ログアウト</a></li>
                    <li><a href="newID.html">新規登録</a></li>
                    <li><a href="introduce.html">紹介</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>