a {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    text-decoration: none;
  }
  a:hover { text-decoration: underline;
  }
  a:visited {
    color: black;
  }
  a:link {
    color: black;
  }
  .header {
    background: rgba(255, 217, 0, 0.836);
    height: 64pt;
  }
  .header-logo{
    font-size: 42px;
    float: left;
    padding-bottom: 6px;
    font-weight: bold;
  }
  .header-logo p {
    line-height: 10px;
    padding-right: 40px;
    padding-left: 10px;
  }
  .header-list li {
    list-style: none;
    font-size: 16px;
    float: left;
    padding: 32px 30px;
  }
  .manu-drop{
    float: right;
  }
  .menu {
    height: 20px;
  }
  .menu {
    float: right;
    padding-right: 30px;
    padding-top: 30px;
    margin: 0px 0px;
  }
  .menu li {
    font-size: 16px;
    list-style: none;
    padding-left: 3px;
    width: 105px;
  }
  .menu li ul {
    margin: 0px 0px;
    padding-top: 3px;
    width: 99px;
    padding-left: 0px;
  }
  .menu li li {
    float: left;
    padding-left: 3px;
    background: rgba(252, 225, 75, 0.836);
    width:99px;
    height: 0;
    overflow: hidden;
    transition: .4s;
    border-style: hidden;
  }
  .menu li:hover > ul > li {
    border-top: 3px solid rgba(252, 249, 75, 0.836);
    height: 32px;
    overflow: hidden;
  }
  