<div class="menu">
    <div class="main-title">
        <p>管理項目</p>
    </div>
    <div class="main-table">
      <table border="0">
          <tr>
              <th>id</th><th>name</th><th>amount</th><th>start_date</th><th>created_at</th>
          </tr>
          <tr *ngFor="let product of products">
            <td>{{product.id}}</td><td>{{product.name}}</td><td>{{product.amount}}</td><td>{{product.start_date}}</td><td>{{product.created_at}}</td>
          </tr>
      </table>
    </div>
</div>