<div class="menu">
    <div class="main-title">
        <p>管理項目</p>
    </div>
    <div class="main-table">
      <table border="0">
          <tr>
              <th rowspan="2">id</th><th colspan="3">モノ</th><th colspan="2">ストック</th><th rowspan="2">削除</th>
          </tr>
          <tr>
              <th>名前</th><th>数量</th><th>使用日付</th><th>残量</th><th>購入日付</th>
          </tr>
          <tr *ngFor="let product of products">
            <th>{{product.id}}</th><td><a routerLink="/detail/{{product.id}}"><b>{{product.name}}</b></a></td><td>{{product.quantity}}</td><td>{{product.usedate}}</td><td>{{product.stock}}</td><td>{{product.purchasedate}}</td>
            <td><button class="badge" title="delete product" (click)="delete(product)">x</button></td>
          </tr>
      </table>
    </div>
    <div>
        <label>Product Name:
            <input #productName />
        </label>
        <button (click)="add(productName.value); productName.value=''">
            add
        </button>
    </div>
    <a routerLink="/dashboard">お気に入り</a>
</div>