<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">モノ追加&nbsp;<font size="+3"><mat-icon>insights</mat-icon></font></h1>
    </header>
    <section id="modal-body">
          <p><span>追加するモノの情報を書いてください (ﾌﾞﾘｯ</span></p>
          <div>
            <mat-form-field appearance="standard">
              <mat-label>名前</mat-label>
              <input matInput placeholder="サンプル" #testName />
              <mat-hint></mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field appearance="standard">
              <mat-label>数量</mat-label>
              <input matInput placeholder="666" #testAmount />
              <mat-hint></mat-hint>
            </mat-form-field> 
          　<mat-form-field appearance="standard">
            <br>
            <mat-label>使用開始日</mat-label>
            <input matInput placeholder="YYYY/MM/DD" [matDatepicker]="picker" #testStartDate>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          　</mat-form-field>
        　</div>
    </section>
    <footer id="modal-footer">
        <button onclick="window.location.reload();" (click)="add(testName.value, testAmount.value, testStartDate.value); testName.value=''; testAmount.value=''; testStartDate.value=''; actionFunction()" mat-flat-button color="accent">
            <b>追加完了</b>
        </button>
        <button mat-stroked-button id="modal-cancel-button" (click)="closeModal()">戻る</button>
      </footer>
  </div>
  
