body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  }
  a { text-decoration: none;
  }
  a:hover { text-decoration: underline;
  }
  a:visited {
    color: black;
  }
  a:link {
    color: black;
  }
  
  .container {
    height: 450px;
    padding: 30px;
    background: antiquewhite;
    margin: 0px;
  }
  